@use 'src/styles/scss/utils/index.scss' as *;


.pc_ver {
  @include mq(sp) {
    display: none;
  }
}

.sp_ver {
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.curriculum_section{
padding-top: 80px;
padding-bottom: 80px;
background-color: #FAFAFA;

@include mq(sp) {
    padding: 10vw 5vw;
  }
}

.title_img{
  width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;

  @include mq(sp) {
      width: 90%;
    }
}

.title_text{
  text-align: center;
  @include mq(sp) {
      font-weight: bold;
    }
}

.curriculum_contents{
  width: 1050px;
  margin: auto;
  margin-top: 40px;

  @include mq(sp) {
    max-width: 1300px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

  .note_area{
    margin-top: 10px;

    p {
        font-size: 1rem;
        text-align: right;
        line-height: 2;

        @include mq(sp) {
            text-align: left;
          }
      }
  }
  
}


.contents_list{
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 20px;
  border: 4px solid #000;
  border-radius: 8px;

  @include mq(sp) {
    flex-direction: column;
  }

  h3{
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    line-height: 1.4;
    margin-top: 20px;
    padding: 10px 20px;
    span {
        font-weight: bold;
      }
    ruby{
      margin: 0 5px;
    }
  }

  p{
    text-align: center;
    line-height: 1.7;
    font-size: 1.4rem;
    margin-top: 10px;
    
  }

}
.content_first{
  padding-right: 20px;
  width: 33%;
  @include mq(sp) {
    width: 100%;
    padding-bottom: 8px;
    padding-right: 0px;
    }
}

.content_second{
  width: 33%;
  padding: 0 20px;
  border-right:1px solid #d7d7d7 ;
  border-left: 1px solid #d7d7d7;
  @include mq(sp) {
      width: 100%;
      border-top: 1px solid #d7d7d7;
      border-bottom: 1px solid #d7d7d7;
      border-left: 0px;
      border-right: 0px;
      padding: 8px 0;
    }
}

.content_third{
  width: 33%;
  padding-left: 20px;
  @include mq(sp) {
      width: 100%;
      padding-top: 8px;
      padding-left: 0px;
    }
}

.content_items{
  position: relative;
  height: 167px;
}

.content_badge{
  position: absolute;
  left: 20px;
  img{
  width: 100px;
  @include mq(sp) {
      width: 26vw;
    }
  }

  @include mq(sp) {
    left: 2.6vw;
  }
}

.content_icon1 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0px;

  img{
    width: 76px;
  }


}

.content_icon2{
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;

  img{
    width: 130px;
    margin: auto;
  }
}

.content_icon3 {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  img{
    width: 110px;
    margin: auto;
  }
}

.tool_wrap{
  width: 70%;
  margin: auto;
  margin-top: 90px;

  @include mq(sp) {
    width: 100%;
    }

  p{
    text-align: center;
    line-height: 2;

    @include mq(sp) {
      margin-top: 5.3vw;
    }
  }

  .attention{
    text-align: right;
    font-size: 1.2rem;

    @include mq(sp) {
        text-align: center;
      }
  }

  
}

.tool_wrap_title{
  position: relative;
  padding-bottom: 10px;
  .tool_wrap_title_balloon_img{
  width: 300px;
   position: absolute; 
   top: -43px;
   left: 40px;

  @include mq(sp) {
    width: 70vw;
    top: -8vw;
    left: 10%;
  }
  }

  h3{
  font-size: 2.7rem;
  color: white;
  background-color:#2F71F2;
  font-weight: 700;
  text-align: center;
  border: 3px solid #000;
  border-radius: 8px;
  padding: 10px 20px;
  width: fit-content;
  margin: auto;
  line-height: 1.5;
  @include mq(sp) {
    font-size: 4.8vw;
  }
  }
}

.tool_items{
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
  margin-top: 20px;

  @include mq(sp) {
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

  div{
    width: 42.6vw;
  }

  div:last-child{
    grid-area: 2/1/3/3;
    place-self: center;
  }

  p{
    margin-top: 0px;
  }
}
}

.curriculum_course{
  max-width: 680px;
  margin: auto;
  margin-top: 60px;
}

.learn_detail_time{
  margin-top: 70px;
}


.learn_detail_time_contents{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;

  img{
    width: 28px;
  }
}

.learn_detail_time_items1,.learn_detail_time_items2,.learn_detail_time_items3{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 3px 20px;

  @include mq(sp) {
      justify-content: center;
      padding: 16px 30px;
    }
}

.learn_detail_time_items1_sp,.learn_detail_time_items2_sp,.learn_detail_time_items3_sp{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  
}

.learn_detail_time_items1_sp{
  font-weight: bold;
  color: #21DF89;
  img {
      width: 22px;
    }
}

.learn_detail_time_items2_sp{
  font-weight: bold;
  color: #FF1049;
  img {
      width: 17px;
    }
}

.learn_detail_time_items3_sp{
  font-weight: bold;
  color: #2F71F2;
  img {
      width: 16px;
    }
}

.learn_detail_time_items1{
  background-color: #21DF89;
  border: 3px solid black;
  border-radius: 10px 0 0 10px;
  @include mq(sp) {
      width: 176px;
    }
}

.learn_detail_time_items2 {
  background-color: #FF1049;
  border-top: 3px solid black;
  border-bottom: 3px solid black;


}

.learn_detail_time_items3 {
  background-color: #2F71F2;
  border: 3px solid black;
  border-radius: 0 10px 10px 0;
  p{
    line-height: normal;
  }

    
}

.learn_detail_time_title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  h3{
    font-size: 18px;
  }

  img{
    display: inline;
    width: 24px;
  }
}


.three_step{
  .pc_ver{
  display: flex;
  align-items: center;
  gap: 12px;
  width: 60%;
  margin: auto;
  margin-top: 75px;

  @include mq(sp) {
  
      display: none;
  
    }
  }
  @include mq(sp) {
    
      width: 100%;
      
    }
}



.acquired_skills{
  margin-top: 75px;

h3{
  text-align: center;
  background-color: #3073f3;
  border: 3px solid black;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 2.7rem;
  color: white;
  font-weight: 700;
  width: -webkit-fit-content;
  margin: auto;

  @include mq(sp) {
      font-size: 4.8vw;
      margin-bottom: 30px;
    }

}

.acquired_skills_contents{
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  justify-content: space-between;

  @include mq(sp) {
    width: 100%;
  }

.acquired_skills_content_img{
    border: 3px solid black;
    border-radius: 50%;
    padding: 30px;
    background-color: #63E0FB;
    box-shadow: 3px 3px;
}

.acquired_skills_content_img_ruby {
  border: 3px solid black;
  border-radius: 50%;
  padding: 35px 30px;
  background-color: #63E0FB;
  box-shadow: 3px 3px;
}

p {
  padding-top: 16px;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

}


}




.portfolio_wrap {
  text-align: center;
  font-size: 2.7rem;
  font-weight: 700;
  border: 3px solid black;
  border-radius: 8px;
  max-width: 820px;
  margin: auto;
  margin-top: 100px;
  position: relative;
  padding: 34px 50px 18px;

  @include mq(sp) {
    padding: 13vw 4.2vw 4.8vw;
    }
  div{
    position: absolute;
      transform: translate(-50%, -50%);
      top: 0;
      left: 50%;
      width: 100%;
  h3 {
    background-color: #3073f3;
    color: white;
    border: 3px solid black;
    border-radius: 8px;
    width: fit-content;
    margin: auto;
    padding: 10px 20px;
    @include mq(sp) {
        font-size: 4.8vw;
        line-height: 1.5;
      }
    
  }
}

  p{
    line-height: 1.2;
    font-size: 2.7rem;
    font-weight: 700;

    @include mq(sp) {
        font-size: 5.3vw;
      }
  }
}