@use "src/styles/scss/utils/index.scss" as *;

.intro_box {
  padding: 80px 0;
  @include mq(sp) {
    padding: calcVw(75) 0;
  }
}

.intro_img {
  width: 760px;
  margin: auto;
  @include mq(sp) {
    display: none;
  }
}

.intro_img_sp {
  max-width: 760px;
  margin: 0 auto;
  display: none;

  @include mq(sp) {
    display: block;
  }
}

.achivement {
  text-align: center;
  font-size: 11px;
  color: #6d6d6d;
  margin-top: 25px;
  @include mq(sp) {
    font-size: calcVw(10);
  }
}

.sp_br {
  display: none;
  @include mq(sp) {
    display: block;
  }
}
