@use "src/styles/scss/utils/index.scss" as *;

.intro_box {
  margin-top: 80px;
  margin-bottom: 80px;
}

.pc_intro_img {
  width: 760px;
  margin: auto;
  @include mq(sp) {
    display: none;
  }
}

.sp_intro_img {
  display: none;

  @include mq(sp) {
    width: 335px;
    margin: auto;
    display: block;
  }
}

.achivement {
  text-align: center;
  font-size: 11px;
  color: #6d6d6d;
  margin-top: 25px;
  @include mq(sp) {
    font-size: 9px;
  }
}

.sp_br {
  display: none;
  @include mq(sp) {
    display: block;
  }
}
