@use 'src/styles/scss/utils/index.scss' as *;


.IntroBox{
 margin-top: 80px;
 margin-bottom: 80px;
}

.PCIntroImg{
  width: 760px;
  margin: auto;
  @include mq(sp) {
      display: none;
    }
}

.SPIntroImg {
  display: none;

  @include mq(sp) {
    width: 335px;
    margin: auto;
    display: block;
  }
}

.Achivement{
  text-align: center;
  font-size: 11px;
  color: #6D6D6D;
  margin-top: 25px;
  @include mq(sp) {
      font-size: 9px;
    }
}

.SPbr{
  display: none;
  @include mq(sp) {
      display: block;
    }
}