@use "src/styles/scss/utils/index.scss" as *;

.job_support_section {
  background-color: #2f72f2;
}

.grid_bg {
  background-image: url("/grid_bg.png");
  background-color: white;
  width: 1380px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.title_img {
  img {
    width: 377px;
    margin: 0 auto;
  }
}

.job_support_contents {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 70%;
  margin: auto;
  margin-top: 60px;
}

.content1,
.content2,
.content3 {
  display: flex;
  align-items: flex-end;
  gap: 20px;

  .content_img {
    width: 35%;
  }
}

.content3 {
  align-items: center;
}

.content1_detail,
.content2_detail,
.content3_detail {
  width: 65%;
  border: 3px solid black;
  border-radius: 8px;

  h3 {
    color: white;
    border-bottom: 3px solid black;
    background-color: #f1574d;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: center;
    letter-spacing: -1px;
  }

  .content1_detail_text,
  .content2_detail_text,
  .content3_detail_text {
    padding: 20px;
    p {
      font-size: 1.6rem;
      line-height: 2;
    }

    .content_detail_note {
      font-size: 1.2rem;
      line-height: 1.3;
      color: #797979;
    }
  }
}

.intern_for_engineer {
  width: fit-content;
  margin: auto;
  margin-top: 90px;
  position: relative;

  h3 {
    text-align: center;
    color: white;
    background-color: #3073f3;
    font-size: 2.7rem;
    line-height: 1.5;
    width: fit-content;
    padding: 10px 20px;
    border: 3px solid #000;
    border-radius: 8px;
    margin: 0 auto;
  }

  .balloon_img {
    position: absolute;
    top: -30px;
    left: -5vw;
    img {
      width: 184px;
    }
  }
}

.job_support_note {
  width: 633px;
  padding: 15px 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  background-color: #ececec;
}

.job_support_note_title {
  text-align: center;
  width: -webkit-fit-content;
  width: fit-content;
  background-color: #606060;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 4px;
  margin: 0 auto;
  padding: 6px 26px;
  line-height: normal;
}

.job_support_note_detail {
  line-height: 1.9;
  margin-top: 16px;

  p {
    font-size: 1.2rem;
  }

  p:first-child {
    padding-bottom: 5px;
  }
}
