@use 'src/styles/scss/utils/index.scss' as *;

.OverviewSection{
  background-image: url('/dot.png');
  background-size: 6px 6px;
}

.Container{
  padding-top: 40px;
  padding-bottom: 40px;
  width: 960px;
  margin: 0 auto;
}



.OverviewTitleImg{
  width: 537px;
  margin: 0 auto;
}

.ExclusiveImgList{
  display: flex;
  margin-top: 40px;
  gap: 20px;

  div{
    width: 335px;
  }

  p{
    color: white;
    font-size: 12px;
    line-height: 1.5;
  }

  .ExclusiveText1{
    margin-top: 15px;
  }
}