
.RecommendSection{
 background-color: #F1574D;


.RecommendWrap{
background-color: white;
background-image: url('/grid_bg.png');
width: 1360px;
margin: 0 auto;
padding-top: 40px;
padding-bottom: 80px;
}

.RecommendTitleImg{
  width: 735px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.RecommendImgList{


  .RecommendImg{
    width: 813px;
    margin: 0 auto;
  }


.RecommendImg1{
    width: 813px;
    margin:  auto;
    margin-bottom: 60px;
}
.RecommendImg2 {
    width: 780px;
    margin:  auto;
    margin-bottom: 60px;
}

.RecommendImg3 {
    width: 813px;
    margin:  auto;
}

}

}